extends layout/layout.pug
block variables
    - isLogin = true;

block content
    - st = true;
    .lk
        .container_center
            +breadcrumb(['Личный кабинет', 'Мои курсы'])

            .lk__head
                h1.page__title Мои курсы
                button.btn Подобрать курсы


            .lk__body
                include inc/lk-aside.pug
                .lk__content
                    h2.subtitle Рекомендательная система
                    p Выберите, в каком направлении Вы хотели бы развиваться, и подберем индивидуальную программу обучения для Вас

                    // begin lkTags
                    .lkTags__grid
                        .lkTags__col
                            .lkTags__title Я могу...
                            .lkTags
                                each item in [{text: 'Я владею стратегией переговоров', color: ''}, {text: 'Я умею вести переговоры', color: ''}, {text: 'Переговоры на иностранном языке', color: ''}, {text: 'Управленческие навыки', color: 'warning'}, {text: 'Менеджмент персонала', color: 'warning'}, {text: 'Умелый руководитель', color: 'warning'}, {text: 'MySQL', color: 'success'}, {text: 'Аналитика баз данных', color: 'success'}]
                                    .lkTags__tag(class=item.color)=item.text 
                                        .lkTags__delete
                        .lkTags__col
                            .lkTags__title Я хочу...
                            .lkTags
                                each item in [{text: 'Общение без стеснения', color: ''}, {text: 'Ясная поставленная речь', color: ''}, {text: 'Хорошая дикция', color: ''}, {text: 'Навыки администратора', color: 'warning'}, {text: 'Навыки лидера', color: 'warning'}, {text: 'Администрирование баз данных', color: 'success'}]
                                    .lkTags__tag(class=item.color)=item.text 
                                        .lkTags__delete


                    .lkTags__grid
                        .lkTags__col
                            .lkTags__sub Начните ввод для выбора тега в категорию «Я могу» 
                            each item, i in ['Стратегическое мышление', 'Системное мышление', 'Инновационное мышление', 'Критическое мышление']
                                - open = '';
                                if i === 0
                                    - open = 'open';
                                .lkTags__item(class=open data-collapse-body="")
                                    .lkTags__toggle(data-collapse-toggle="")=item 
                                        i.icon_caret
                                    .lkTags__drop
                                        each prop in ['Навыки переговоров', 'Переговоры на английском языке', 'Сложные диалоги', 'Общение']
                                            label.lkTags__check
                                                input(type="checkbox")
                                                span=prop
                        .lkTags__col
                            .lkTags__sub Начните ввод для выбора тега в категорию «Я хочу» 
                            each item, i in ['Стратегическое мышление', 'Системное мышление', 'Инновационное мышление', 'Критическое мышление']
                                - open = '';
                                if i === 0
                                    - open = 'open';
                                .lkTags__item(class=open data-collapse-body="")
                                    .lkTags__toggle(data-collapse-toggle="")=item 
                                        i.icon_caret
                                    .lkTags__drop
                                        each prop in ['Навыки переговоров', 'Переговоры на английском языке', 'Сложные диалоги', 'Общение']
                                            label.lkTags__check
                                                input(type="checkbox")
                                                span=prop
                    // end lkTags

                    h2.subtitle Компетенции

                    .chartBox
                        img(src="img/chart-trangle.jpg", alt="")

                    h2.subtitle Список курсов

                    .smallBox
                        each item, i in [{title: 'Стратегический менеджмент в контексте управления государством', color: 'danger', perc: '15%'},{title: 'Стратегический менеджмент', color: 'primary', perc: '70%', alert: true},{title: 'Видные политические деятели советского союза в эпоху Первой Пятилетки (ПП)', color: 'warning', perc: '40%'},{title: 'Основы управления государством', color: 'success', perc: '100%'}]
                            .smallBox__item
                                .smallBox__body(class=item.color)
                                    .smallBox__name=item.title
                                    .smallBox__line
                                        .smallBox__lineLabel
                                            .smallBox__lineText
                                                span.smallBox__lineColored Пройдено 18
                                                span /110 заданий
                                            if item.alert
                                                .smallBox__lineAlert 2 просрочены
                                        .smallBox__lineLine
                                            span(style="width: "+item.perc+"")
                                        .smallBox__linePerc=item.perc 
                                            | 
                                            | пройдено

                                    .smallBox__action
                                        button.btn.btn_small(type="button") Подробнее

                    .lk__more
                        a.btn.btn_border(href="#") показать больше


                    include inc/lkRecomend.pug
